html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(rgb(30, 30, 30), rgb(0, 210, 217));
    background-repeat:no-repeat;
}

h1 {
    color: yellow;
}

.bloco {
    border: 2px solid white;    
}

main form {
    display: flex;
    flex-direction: column;
}

main h2 {
    text-align: center;
}

main hr {

}

#botaoContinuar {
    border-radius: 10px;
}