* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 50px;
    background-color: linear-gradiente
    180deg,
    #1E1E1E,
    #00D2D9;
}

header img{
    width: 150px;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    color: #fff;
    text-decoration: none;
}

.menu_list li a:hover{
    background-color:gray;
}