body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(30, 30, 30), rgb(0, 210, 217));
    background-repeat:no-repeat;      
}

 header {
     padding: 2em;
     width: 100%;
     top: 0;
     z-index: 2;
 }
 
 header img{
     width: 200px;
 }

 .menu_list {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    text-align: right;
    font-size: large;
}

.menu_list li {
    display: inline-block;
    margin-left: 15px;
}

.menu_list li a {
    color: #fff;
    text-decoration: none;
}

 .menu_list li a:hover{
    color:gray;
}
.card-deck {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;    
}

.card {
    margin: 3em;
    width: 10%;
    background:rgba(0, 255, 255, 0) ;
    border: 0;    
}
.card-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em ;
    color:#fff ;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes:first-child {
    padding-left: 1em;
}

/*footer*/
footer {
    display: flex;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    padding: 3em;
    margin-top: 1em;
}
 
footer p {
    color: white;
    padding-left: 4em;
    font-size: 1em;
}

footer p:hover {
    color:gray;
}